# Required services to run Wolfia on a local machine

services:
  dev-postgres:
    image: napstr/poggres:18
    restart: always
    ports:
      - 127.0.0.1:5442:5432
    volumes:
      - ./postgres-data/:/var/lib/postgresql/
    environment:
      - POSTGRES_PASSWORD=wolfia
      - ROLE=wolfia
      - PASSWORD=wolfia
      - DB=wolfia
      - EXTENSIONS=hstore

  dev-redis:
    image: redis:8.2
    restart: always
    entrypoint:
      - redis-server
      - --appendonly
      - "yes"
    ports:
      - 127.0.0.1:6389:6379
    sysctls:
      - net.core.somaxconn=511   # container was spitting out a warning telling us to do this
