<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">

    <statusListener class="space.npstr.wolfia.utils.log.StatusToFileListener">
        <file>logs/logback_status.log</file>
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
        <!--&lt;!&ndash; daily rollover &ndash;&gt;-->
        <!--<fileNamePattern>logs/logback_status.%d{yyyy-MM-dd}.log</fileNamePattern>-->
        <!--&lt;!&ndash; keep 30 days' worth of history &ndash;&gt;-->
        <!--<maxHistory>30</maxHistory>-->
        <!--</rollingPolicy>-->
        <encoder>
            <pattern>%-40(%d{HH:mm:ss.SSS} [%thread]) %highlight([%-5level]) %logger{36} - %msg%n</pattern>
        </encoder>
    </statusListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-40(%d{HH:mm:ss.SSS} [%thread]) %highlight([%-5level]) %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="INFOFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/wolfia.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/wolfia.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%-40(%d{HH:mm:ss.SSS} [%thread]) %highlight([%-5level]) %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="ERRORFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%-40(%d{HH:mm:ss.SSS} [%thread]) %highlight([%-5level]) %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <appender name="DEBUGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/full.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/full.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%-40(%d{HH:mm:ss.SSS} [%thread]) %highlight([%-5level]) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DISCORD" class="com.github.napstr.logback.DiscordAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss} [%thread] [%-5level] %logger{36} - %msg%n```java%n%ex{full}%n```</pattern>
        </layout>
        <username>Discurd</username>
        <avatarUrl>
            http://i.imgur.com/UoiA3OQ.png <!--http://i2.ytimg.com/vi/Yvd0iS5jd50/hqdefault.jpg-->
        </avatarUrl>

    </appender>

    <appender name="ASYNC_DISCORD" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="DISCORD"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="INFOFILE"/>
        <appender-ref ref="ERRORFILE"/>
        <appender-ref ref="DEBUGFILE"/>
        <appender-ref ref="ASYNC_DISCORD"/>
    </root>
</configuration>
