<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">

    <statusListener class="space.npstr.wolfia.utils.log.StatusToFileListener">
        <file>logs/logback_status.log</file>
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
        <!--&lt;!&ndash; daily rollover &ndash;&gt;-->
        <!--<fileNamePattern>logs/logback_status.%d{yyyy-MM-dd}.log</fileNamePattern>-->
        <!--&lt;!&ndash; keep 30 days' worth of history &ndash;&gt;-->
        <!--<maxHistory>30</maxHistory>-->
        <!--</rollingPolicy>-->
        <encoder>
            <pattern>%-40(%d{HH:mm:ss.SSS} [%thread]) %highlight([%-5level]) %logger{36} - %msg%n</pattern>
        </encoder>
    </statusListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-40(%d{HH:mm:ss.SSS} [%thread]) %highlight([%-5level]) %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="INFOFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/wolfia.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/wolfia.log.%d{yyyy-MM-dd}</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%-40(%d{HH:mm:ss.SSS} [%thread]) %highlight([%-5level]) %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="ERRORFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/error.log.%d{yyyy-MM-dd}</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%-40(%d{HH:mm:ss.SSS} [%thread]) %highlight([%-5level]) %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <appender name="DEBUGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/debug.log.%d{yyyy-MM-dd}</fileNamePattern>
            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%-40(%d{HH:mm:ss.SSS} [%thread]) %highlight([%-5level]) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DISCORD" class="com.github.napstr.logback.DiscordAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss} [%thread] [%-5level] %logger{36} - %msg%n```%ex{full}%n```</pattern>
        </layout>
        <username>Discurd</username>
        <avatarUrl>
            http://i.imgur.com/UoiA3OQ.png <!--http://i2.ytimg.com/vi/Yvd0iS5jd50/hqdefault.jpg-->
        </avatarUrl>
        <tts>false</tts>

    </appender>

    <appender name="ASYNC_DISCORD" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="DISCORD"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <!-- Gives us a nice JDA log with only JDA output -->
    <appender name="JDA" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/jda.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/jda.log.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%-40(%d{HH:mm:ss.SSS} [%thread]) %highlight([%-5level]) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- shut up JDA debug logs from main debug file-->
    <logger name="net.dv8tion" level="DEBUG" additivity="false">
        <appender-ref ref="JDA"/>

        <appender-ref ref="STDOUT"/>
        <appender-ref ref="INFOFILE"/>
        <appender-ref ref="ERRORFILE"/>
        <appender-ref ref="ASYNC_DISCORD"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <!-- show debug logs of our own things in STDOUT, perfect for debugging -->
    <appender name="STDOUTDEBUG" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%-40(%d{HH:mm:ss.SSS} [%thread]) %highlight([%-5level]) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="space.npstr" level="debug" additivity="true">
        <appender-ref ref="STDOUTDEBUG"/>
    </logger>

    <!-- Send logs with the provided level or higher to sentry -->
    <appender name="SENTRY" class="io.sentry.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <!-- shut up hibernate debug logs -->
    <logger name="org.hibernate" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="INFOFILE"/>
        <appender-ref ref="ERRORFILE"/>
        <appender-ref ref="ASYNC_DISCORD"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="INFOFILE"/>
        <appender-ref ref="ERRORFILE"/>
        <appender-ref ref="DEBUGFILE"/>
        <appender-ref ref="ASYNC_DISCORD"/>
        <appender-ref ref="SENTRY"/>
    </root>
</configuration>
