SHELL=/bin/bash
BASH_ENV=/container.env

# daily
30  7   *   *   *   /usr/local/bin/pg_b2_backup.sh $BACKUP_DB $BACKUP_APPNAME $BACKUP_BUCKET_DAILY   $BACKUP_ACCOUNT_ID $BACKUP_APP_KEY &>> /var/log/pg_backup.log
# weekly
0   5   *   *   1   /usr/local/bin/pg_b2_backup.sh $BACKUP_DB $BACKUP_APPNAME $BACKUP_BUCKET_WEEKLY  $BACKUP_ACCOUNT_ID $BACKUP_APP_KEY &>> /var/log/pg_backup.log
# monthly
0   3   1   *   *   /usr/local/bin/pg_b2_backup.sh $BACKUP_DB $BACKUP_APPNAME $BACKUP_BUCKET_MONTHLY $BACKUP_ACCOUNT_ID $BACKUP_APP_KEY &>> /var/log/pg_backup.log

# these are for debugging
#*   *   *   *   *   /bin/echo "Hello world, $BACKUP_APPNAME" &>> /var/log/cron.log
#*   *   *   *   *   /usr/local/bin/pg_b2_backup.sh $BACKUP_DB $BACKUP_APPNAME $BACKUP_BUCKET_DAILY   $BACKUP_ACCOUNT_ID $BACKUP_APP_KEY &>> /var/log/pg_backup.log
