---
---

@import "{{ site.theme }}";

#header {
  visibility: hidden;
}

.wrapper {
  max-width: 1000px;
}

section {
  max-width: 1000px;
}

.center {
  text-align: center;
}

.invite-image a img {
  max-width: 100%;
  @media screen and (min-width: 600px) {
    max-width: 600px;
  }
  height: auto;
}
