[Unit]

Description=Disable Transparent Huge Pages - this is a good idea for redis and other DBs

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/bin/echo 'never' > /sys/kernel/mm/transparent_hugepage/enabled"
ExecStart=/bin/sh -c "/bin/echo 'never' > /sys/kernel/mm/transparent_hugepage/defrag"
ExecStart=/bin/sh -c "/bin/echo '1' > /proc/sys/vm/overcommit_memory"

[Install]
WantedBy=multi-user.target
